doctype html
html
  head
    title X-Wing Maneuvers
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    div#stage
    //-canvas#playarea(width=914, height=914) You need a canvas-capable browser.
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/kinetic-v5.1.0.min.js")
    script(src="javascripts/kinetic.js")
    script(src="javascripts/constants.js")
    script(src="javascripts/template.js")
    script(defer="defer")
      :coffee
        stage = new Kinetic.Stage
          container: 'stage'
          width: 914
          height: 914

        layer = new Kinetic.Layer()

        ship = new Ship
          stage: stage
          name: 'test'
          size: 'small'

        bigship = new Ship
          stage: stage
          name: 'big'
          size: 'large'

        instances = []

        instances.push new ShipInstance
          ship: ship
          x: 200
          y: 500
          heading_deg: 45

        window.bank = new Template
          type: 'bank'
          distance: 2
          direction: 'right'
        instances[instances.length - 1].placeTemplate bank
        instances.push bank.move instances[instances.length - 1]

        window.turn = new Template
          type: 'turn'
          distance: 3
          direction: 'left'
        instances[instances.length - 1].placeTemplate turn
        instances.push turn.move instances[instances.length - 1]

        window.straight = new Template
          type: 'koiogran'
          distance: 4
        instances[instances.length - 1].placeTemplate straight
        instances.push straight.move instances[instances.length - 1]

        window.bank3 = new Template
          type: 'bank'
          distance: 3
          direction: 'right'
        instances[instances.length - 1].placeTemplate bank3
        instances.push bank3.move instances[instances.length - 1]

        window.rollleft = new Template
          type: 'barrelroll'
          distance: 1
          direction: 'left'
        instances[instances.length - 1].placeTemplate rollleft
        instances.push rollleft.move instances[instances.length - 1]

        layer.add bank.shape
        layer.add bank3.shape
        layer.add turn.shape
        layer.add straight.shape

        for inst in instances
          layer.add inst.group

        stage.add layer

        #canvas = document.getElementById('playarea')
        #if canvas.getContext?
        #  ctx = canvas.getContext '2d'
        #  init ctx

        #  ship1 = new Ship
        #      name: 'test'
        #      size: 'large'
        #      ctx: ctx
        #      center_x: 40
        #      center_y: 800
        #      heading_radians: (NORTH + EAST) / 2

        #  ship1.addMove new Movement
        #      template: new Template
        #        type: 'straight'
        #        distance: 4
        #      after: new BarrelRoll
        #        direction: 'right'
        #        start_distance_from_front: 10
        #        end_distance_from_front: 55

        #  ship1.addMove new Movement
        #      template: new Template
        #        type: 'bank'
        #        distance: 3
        #        direction: 'right'
        #      after: new BarrelRoll
        #        direction: 'rightforward'
        #        distance: 1

        #  ship1.addMove new Movement
        #      template: new Template
        #        type: 'turn'
        #        distance: 3
        #        direction: 'left'

        #  ship1.addMove new Movement
        #      template: new Template
        #        type: 'koiogran'
        #        distance: 4

        #  ship1.addMove new Movement
        #      template: new Template
        #        type: 'turn'
        #        distance: 2
        #        direction: 'right'
        #      after: new BarrelRoll
        #        direction: 'leftforward'
        #        start_distance_from_front: 55
        #        end_distance_from_front: 10

        #  ship1.addMove new Movement
        #      template: new Template
        #        type: 'turn'
        #        distance: 3
        #        direction: 'right'
        #      after: new BarrelRoll
        #        direction: 'rightback'
        #        start_distance_from_front: 55
        #        end_distance_from_front: 10

        #  ship1.addMove new Movement
        #      template: new Template
        #        type: 'straight'
        #        distance: 5
        #      after: new BarrelRoll
        #        direction: 'leftback'
        #        start_distance_from_front: 55
        #        end_distance_from_front: 10

        #  ship1.drawMovements()
