doctype html
html
  head
    title X-Wing Maneuvers
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    canvas#playarea(width=914, height=914) You need a canvas-capable browser.
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/canvas.js")
    script(src="javascripts/ship.js")
    script
      :coffee
        $(document).ready ->
          canvas = document.getElementById('playarea')
          if canvas.getContext?
            ctx = canvas.getContext '2d'
            init ctx

            ship1 = new Ship
                name: 'test'
                size: 'large'
                ctx: ctx
                center_x: 800
                center_y: 300
                heading_radians: window.WEST

            ship1.addMove new window.Movement
                template: new window.Template
                  type: 'bank'
                  distance: 3
                  direction: 'left'

            ship1.addMove new window.Movement
                template: new window.Template
                  type: 'bank'
                  distance: 1
                  direction: 'right'

            ship1.addMove new window.Movement
                template: new window.Template
                  type: 'turn'
                  distance: 1
                  direction: 'right'

            ship1.addMove new window.Movement
                template: new window.Template
                  type: 'turn'
                  distance: 2
                  direction: 'left'

            ship1.drawMovements()
