doctype html
html
  head
    title X-Wing Maneuvers
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    canvas#playarea(width=914, height=914) You need a canvas-capable browser.
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/canvas.js")
    script(src="javascripts/ship.js")
    script
      :coffee
        $(document).ready ->
          canvas = document.getElementById('playarea')
          if canvas.getContext?
            ctx = canvas.getContext '2d'
            init ctx

            ship1 = new Ship
                name: 'test'
                size: 'large'
                ctx: ctx
                center_x: 800
                center_y: 600
                heading_radians: WEST

            ship1.addMove new Movement
                template: new Template
                  type: 'bank'
                  distance: 3
                  direction: 'left'

            ship1.addMove new Movement
                template: new Template
                  type: 'bank'
                  distance: 1
                  direction: 'right'

            ship1.addMove new Movement
                template: new Template
                  type: 'turn'
                  distance: 1
                  direction: 'right'
                after: new BarrelRoll
                  direction: 'left'
                  distance: 2
                  start_distance_from_front: 20
                  end_distance_from_front: 50

            ship1.addMove new Movement
                template: new Template
                  type: 'koiogran'
                  distance: 4

            ship1.addMove new Movement
                template: new Template
                  type: 'turn'
                  distance: 2
                  direction: 'left'
                after: new BarrelRoll
                  direction: 'rightforward'
                  distance: 2
                  start_distance_from_front: 20
                  end_distance_from_front: 50

            ship1.drawMovements()
