doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title X-Wing Maneuvers
    link(rel="stylesheet", href="stylesheets/main.css")
    link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="jQuery-ColorPicker-master/css/colorpicker.min.css")
    link(rel="stylesheet", href="jquery-ui/jquery-ui.min.css")
    
    
  body
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="bootstrap/js/bootstrap.min.js")
    script(src="javascripts/kinetic-v5.1.0.min.js")
    script(src="jQuery-ColorPicker-master/colorpicker.min.js")
    script(src="jquery-ui/jquery-ui.min.js")

    script(src="javascripts/constants.js")
    script(src="javascripts/position.js")
    script(src="javascripts/base.js")
    script(src="javascripts/template.js")
    script(src="javascripts/movement.js")
    script(src="javascripts/ship.js")
    script(src="javascripts/ui.js")
    script(src="javascripts/maneuvergrid.js")
    script(src="javascripts/deployarea.js")
    script(src="javascripts/asteroidarea.js")

    script(src="javascripts/demo.js")
    script(src="javascripts/grid.js")

    script(defer="defer")
      :coffee
        $(document).ready ->

          window.stage = new Kinetic.Stage
            container: 'stage'
            width: 914
            height: 914

          drawDeployAreasOn stage

          drawAsteroidAreaOn stage

          drawGridOn stage

          window.ui = new ManeuversUI
            stage: stage
            panel: '.ui-panel'
            colorpicker: '.colorpickerholder'

          window.maneuvergrid = new ManeuverGrid
            container: '.maneuvers'

        #demo stage

    .container-fluid
      .row
        .col-sm-8.col-xs-12#stage Canvas support is required

        .col-sm-4.col-xs-12.ui-panel
          .row
            .col-xs-4.checkbox
              label
                input.toggle-deploy(type="checkbox", checked)
                | Show Deploy Areas
            .col-xs-4.checkbox
              label
                input.toggle-asteroid-area(type="checkbox", checked)
                | Show Asteroid Area
            .col-xs-4.checkbox
              label
                input.toggle-grid(type="checkbox", checked)
                | Show Grid
          .row
            .col-xs-12.colorpickerholder
          .row
            .col-xs-6
              input.form-control.shipname(placeholder="Ship name (optional)")
            .col-xs-3.checkbox
              label
                input.isLarge(type="checkbox")
                | Large Base
            .col-xs-3
              button.btn.btn-primary.addship Add Ship

          hr

          .row
            .col-xs-6
              .list-group.shiplist
              button.btn.clone-ship.show-when-ship-selected Clone Selected Ship
              button.btn.select-none.show-when-ship-selected Deselect Ship
            .col-xs-6.ship-controls
              .row.hide-during-barrel-roll.show-when-ship-selected
                .col-xs-6 Start Heading
                .col-xs-6
                  input.form-control.heading(value="0", type="number")
              .row.hide-during-barrel-roll.show-when-ship-selected
                .col-xs-12.heading-slider
              .row.hide-during-barrel-roll.show-when-ship-selected
                .col-xs-11.well.well-sm.maneuvers
              .row.show-during-barrel-roll
                .col-xs-12 Drag up and down to position template and base
              .row
                .col-xs-12
                  button.btn.btn-primary.btn-block.lock-template Lock Template
                  button.btn.btn-primary.btn-block.lock-base Lock Base
              .row.hide-during-barrel-roll.show-when-ship-selected
                .col-xs-12.list-group.turnlist
              .row.hide-during-barrel-roll.show-when-ship-selected
                .col-xs-12.btn-group
                  button.btn.btn-primary.add-turn Add Turn
