doctype html
html
  head
    title X-Wing Maneuvers
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    div#stage
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/kinetic-v5.1.0.min.js")
    script(src="javascripts/kinetic.js")
    script(src="javascripts/constants.js")
    script(src="javascripts/template.js")
    script(src="javascripts/demo.js")
    script(src="javascripts/grid.js")
    script(defer="defer")
      :coffee
        stage = new Kinetic.Stage
          container: 'stage'
          width: 914
          height: 914

        drawGridOn stage

        demo stage
